/* define global variables and common styles for root*/
.root {
    base-color: #4f4f4f;
    button-base-color: #5d5d5d;
    button-hover-color: #868686;
    text-fill-light-color: #d4d3d3;
    text-fill-dark-color: #303030;
    -fx-font-size: 10px;
    -fx-background-color: base-color;
}

.border-pane {
    /* -fx-background-image: url("../images/markus-spiske-zJDqiEGUCHY-unsplash.jpg"); */
    -fx-background-size: cover;
}

.v-box {
    -fx-text-fill: text-fill-light-color;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-fill-height: false;
    -fx-padding: 10 10 10 10;
}

.h-box {
    -fx-text-fill: text-fill-light-color;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-fill-height: false;
    -fx-padding: 10 10 10 10;
}

.table-view {
    -fx-background-color: transparent;
}

/* 1. The Weird */
/* The top right corner of the header section above the scroll bar. */
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

/* The bottom right corner between the scrollbars. */
.table-view .corner {
    -fx-background-color: transparent;
}

/* 2. Headers */
/* The table header column background spanning the whole table width. */
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

/* Individual column headers on top of the table header column background. */
.table-view .column-header {
    -fx-background-color: transparent;
}

/* 3. Cells/Rows */
/* Cells and Rows */
.table-view .table-cell{
    -fx-text-fill: text-fill-light-color;
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell: hover {
    -fx-background-color: #C4513F11;
    -fx-text-background-color: red;
}
.table-row-cell: odd{
    -fx-background-color: #E8F1EC11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #09ABCE11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

/* 4. Scrollbars */
/* Scrollbars */
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

/* Scrollbars arrows */
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

/* Scrollbar itself = thumb */
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.label {
    -fx-text-fill: text-fill-light-color;
}

.button {
    -fx-text-alignment: center;
    -fx-font-size: 10px;
    -fx-text-fill: text-fill-light-color;
    -fx-pref-width: 140;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-color: button-base-color;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: button-hover-color;
}

