/* define global variables and common styles for root
Naming notes:
"-dark-color" means the dark color theme;
"-light-color" means the light color theme.*/
.root {
    base-dark-color: #3c3f41;
    border-light-color: #c7c7c7;
    button-dark-color: #494949;
    button-hover-dark-color: #7c7c7c;
    table-row-dark-color: #494949;
    table-row-light-color: #505050;
    table-row-selected-color: #3c3f41;
    scrollbar-dark-color: #7c7c7c;
    text-filed-background-color: #656565;
    text-fill-light-color: #d3d3d3;
    text-fill-highlighted-color: #ffffff;
    -fx-font-size: 11px;
}

.scroll-pane {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-pannable: true;
}

.border-pane {
    -fx-background-color: base-dark-color;
    -fx-text-fill: text-fill-light-color;
    -fx-padding: 3 3 3 3;
}

.v-box {
    -fx-background-color: base-dark-color;
    -fx-text-fill: text-fill-light-color;
    -fx-alignment: top-left;
    -fx-fill-height: false;
    -fx-spacing: 3;
    -fx-padding: 3;
}

.h-box {
    -fx-background-color: base-dark-color;
    -fx-text-fill: text-fill-light-color;
    -fx-alignment: top-left;
    -fx-fill-height: false;
    -fx-spacing: 3;
}

.table-view {
    -fx-background-color: transparent;
}

/* 1. The Weird */
/* The top right corner of the header section above the scroll bar. */
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

/* The bottom right corner between the scrollbars. */
.table-view .corner {
    -fx-background-color: transparent;
}

/* 2. Headers */
/* The table header column background spanning the whole table width. */
.table-view .column-header-background{
    -fx-background-color: base-dark-color;
    -fx-background-radius: 3px 3px 0px 0px;
    -fx-background-insets: 0 3 0 3;
    -fx-padding: 3px 0 3px 0;
}

/* Individual column headers on top of the table header column background. */
.table-view .column-header {
    -fx-background-color: transparent;
}

/* 3. Cells/Rows */
/* Cells and Rows */
.table-view .table-cell{
    -fx-text-fill: text-fill-light-color;
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 5px;
}

/*noinspection SyntaxError*/
.table-view .table-row-cell:hover {
    -fx-background-color: button-hover-dark-color;
    -fx-text-fill: text-fill-highlighted-color;
}

/*noinspection SyntaxError*/
.table-view .table-row-cell:odd{
    -fx-background-color: table-row-light-color;
    -fx-background-insets: 0, 0 3 0 3;
    -fx-padding: 0.0em;
}

/*noinspection SyntaxError*/
.table-view .table-row-cell:even{
    -fx-background-color: table-row-dark-color;
    -fx-background-insets: 0, 0 3 0 3;
    -fx-padding: 0.0em;
}

.table-view .table-row-cell:selected {
    -fx-background-color: table-row-selected-color;
    -fx-text-fill: text-fill-highlighted-color;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

/* 4. Scrollbars */
/* Scrollbars */
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

/* Scrollbars arrows */
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

/* Scrollbar itself = thumb */
.table-view .virtual-flow .scroll-bar:vertical .thumb,
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  scrollbar-dark-color;
}

.label {
    -fx-text-fill: text-fill-light-color;
}

.button {
    -fx-background-color: button-dark-color;
    -fx-border-color: border-light-color;
    -fx-text-fill: text-fill-light-color;
    -fx-text-alignment: center;
    -fx-font-size: 11px;
    -fx-pref-width: 130;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.button:hover {
    -fx-background-color: button-hover-dark-color;
}

.button:focused {
    -fx-underline: true;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: text-filed-background-color;
    -fx-text-fill: text-fill-light-color;
}

.form-header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


